<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ticketac</title>
    <!-- To add in order to scale the view for mobiles -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a41e9403cf.js" crossorigin="anonymous"></script>
  </head>
  <body>
    



      <div class="home d-flex flex-column container-fluid">

        <div class="row headerlogin">

          <nav class=" header col-12 navbar navbar-light p-1 bg-light h6 font-weight-normal ">
              <a class="navbar" href="/">
              <img src="/images/train.png" width="30" height="30" class="logo mr-2" alt="">
              Ticketac
              </a>
              <div class="header-right ">
              <a href="" ><span class="Connection mr-3 text-danger font-weight-bold">Connection</span></a>
              <a href="/mylasttrips" ><span>My last trip</span></a>
              </div>
          </nav>
    
      </div>

       


          
          <div class="text-center container-fluid text-white mt-5">


            <% if(checkout === true){ %>
            <div class="modal fade text-dark" id="checkoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Succesfull order</h5>
                    <a href="/home"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></a>
                  </div>
                  <div class="modal-body">
                    Your order is succesfull
                  </div>
                  <div class="modal-footer">
                    <a href="/home"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Go back to Homepage</button></a>
                  </div>
                </div>
              </div>
            </div>
            <% } %>

            
                <div class="row mt-3 col-10 offset-1">
                    <h3 class="sucesstrain" >My tickets:</h3>
                    <table class="table table-light text-dark table-borderless">
                        <thead>
                          <tr>
                            <th scope="col">N°</th>
                            <th scope="col">Journey</th>
                            <th scope="col">Date</th>
                            <th scope="col">Departure Time</th>
                            <th scope="col">Price</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <% let total = 0;
                             let count = 0;
                            for(element of basket){
                               %>
                          <tr>
                            <th scope="row">1</th>
                            <td><%=element.departure%> / <%=element.arrival%></td>
                            <td><%=dateFormat(element.date)%></td>
                            <td><%=element.departureTime%></td>
                            <td><%=element.price%></td>
                            <td><a href="/deletetrip?id=<%=count%>"><button class="btn btn-outline-info btn-sm" name="button"><i class="far fa-trash-alt"></i></button></a></td>
                          </tr>
                          <% total += Number(element.price);
                           count++; } %>
                          
                          <tr class="table-danger">
                            <th scope="row ">Total</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><%=total%>€</td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    <div class= "d-flex flex-row-reverse w-100"> 
                        <a href="/checkout%>"><button type="submit" class="btn btn-danger mt-4">Confirm</button></a>
                    </div>
                  </div>
                  
                </div>
                
                

                
          

        

          

        </div>
      </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script type="text/javascript">
    $(window).on('load', function() {
        $('#checkoutModal').modal('show');
    });
  </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>

